<div><h4>Settings</h4></div>
<div class="close">&times;</div>

<h5>Projections</h5>
<div id="settings-projection">
  <div class="projections settings-button" >Albers</div>
  <div class="projections settings-button" >Mercator</div>
  <div class="projections settings-button" >Mollweide</div>
  <div class="projections settings-button" >Eckert1</div>
</div>

<h5>Style Basemap</h5>
<div id="settings-styles">
  <div class="styles settings-button">Randomizer!</div>
</div>

<h5>Add / Remove Basemap Features</h5>
<div id="settings-features">
  <div class="features settings-button">Land</div>
  <div class="features settings-button">States</div>
  <div class="features settings-button">Lakes</div>
  <div class="features settings-button settings-disabled">Counties</div>
</div>
