<div class="section-title"><span>Create New Dataset</span></div>
<div class="close">&times;</div>

<div id="upload_drop">
  <span id="drag-tip">Drag file here</span>
  <div id="upload_list"></div>
  <div id="upload-option">
    <p>Or choose a file to upload:</p>
    <span class="btn tertiary" type="file" id="file_upload" multiple="true" >Upload</span>
  </div>
</div>

