<div class="title"><h4>Create a new dataset</h4></div>
<div class="close">&times;</div>
<hr/>
<p>Add files from your computer to the map.</p>

<div id="upload_drop">
  <p class="plus" >+<p>
  <span>Drop files here to upload.</span>
</div>

<div id="upload_file">
  <p>Or choose a file to upload:</p>
  <input type="file" id="file_upload" multiple="true">
</div>
