<div class="section-title"><span>Find Data</span></div>
<div class="close">&times;</div>

<div class="ui-section">
  <h5>Search</h5>
  <input type="text" id="search-agol" placeholder="Search ArcGIS" />
  <ul id="search-items"></ul>
</div>

<div class="ui-section" id="test-data">
  <h5>Test Data</h5>
  <button class="btn small" id="add">Snow Totals</button>
</div> 

