<div class="section-title"><span>Settings</span></div>
<div class="close">&times;</div>

<div class="ui-section" id="settings-projection">
  <span class="item-title">Projections</span>
  <div class="projections settings-button" >Albers</div>
  <div class="projections settings-button" >Mercator</div>
  <div class="projections settings-button" >Mollweide</div>
  <div class="projections settings-button selected" >Eckert1</div>
</div>

<div class="ui-section" id="settings-styles">
  <span class="item-title">Style Basemap</span>
  <div class="styles settings-button">Randomizer!</div>
</div>

<div class="ui-section" id="settings-features">
<<<<<<< HEAD:app/templates/settings.hbs
  <div class="settings-button" id="world"><span class="features" id="world">World</span> <span class="edit">edit</span></div>
  <div class="settings-button" id=states"><span class="features" id="states">States</span> <span class="edit">edit</span></div>
  <div class="settings-button" id="water"><span class="features" id="water">Lakes</span> <span class="edit">edit</span></div>
  <div class="settings-button" id="counties"><span class="features" id="counties">Counties</span> <span class="edit">edit</span></div>
=======
  <div class="settings-button world"><span class="features" id="world">World</span> <span class="edit">edit</span></div>
  <div class="settings-button states"><span class="features" id="states">States</span> <span class="edit">edit</span></div>
  <div class="settings-button water"><span class="features" id="water">Lakes</span> <span class="edit">edit</span></div>
  <div class="settings-button counties"><span class="features" id="counties">Counties</span> <span class="edit">edit</span></div>
>>>>>>> 6681b77338e24129f5fe20ad67273280a6427dcf:js/app/templates/settings.html
</div>

<div class="ui-section" id="settings-panning">
  <span class="item-title">Map Controls</span>
  <input type="checkbox" id="dynamic-panning" /> Dynamic Panning
</div>
